@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
/* font-family: 'Alata', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark_gray: hsl(0, 0%, 55%);
    --very_dark_gray: hsl(0, 0%, 41%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
}

header {
    display: flex;
    flex-direction: column;
    height: 90vh;
    position: relative;
}

.filter {
    position: absolute;
    background-color: var(--black);
    width: 100%;
    height: 100%;
    opacity: 35%;
    z-index: -1;
}

header .img_hero {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 10rem 0 10rem;
    z-index: 2;
}

.hamburguer {
    display: none;
}

.hamburguer_menu {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    z-index: 1;
}

.hamburguer_menu span {
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    color: var(--white);
}

.options {
    display: flex;
    gap: 3rem;
}

.options span {
    font-family: 'Alata', sans-serif;
    font-size: 17px;
    color: var(--white);
    padding: 0 0 .5rem 0;
    cursor: pointer;
}

.options span:hover {
    opacity: 75%;
    border-bottom: 2px solid var(--white);
}

header h1 {
    position: absolute;
    top: 53%;
    left: 21.5%;
    transform: translate(-50%, -50%);
    font-family: 'Josefin Sans', sans-serif;
    color: var(--white);
    text-transform: uppercase;
    font-size: 81px;
    font-weight: lighter;
    border: 2px solid var(--white);
    margin: 0 0 0 10rem;
    padding: 2.5rem;
    max-width: 50rem;
}

.interactive {
    position: relative;
    padding: 10rem;
}

.interactive img {
    max-width: 60rem;
    width: 100%;
}

.interactive .text {
    position: absolute;
    right: 21%;
    top: 47%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 7rem 0 0 7rem;
    max-width: 37rem;
    background-color: var(--white);
}

.interactive .text h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 51px;
    font-weight: lighter;
}

.interactive .text p {
    font-family: 'Alata', sans-serif;
    color: var(--dark_gray);
    line-height: 1.7rem;
}

.our_creations {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 0 10rem 10rem 10rem;
}

.header_creations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_creations h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 51px;
    font-weight: lighter;
}

.header_creations button,
.creation_btn {
    outline: 0;
    border: none;
    background-color: var(--white);
    color: var(--black);
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
    letter-spacing: .3rem;
    border: 1px solid var(--black);
    padding: 0 2.5rem;
    max-height: 2.7rem;
    cursor: pointer;
    transition: .5s all ease;
}

.header_creations button:hover,
.creation_btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.creation_btn {
    display: none;
}

.creations {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.creation {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    max-height: 35rem;
    height: 100vh;
    position: relative;
    cursor: pointer;
}

.creation:hover h2 {
    color: var(--black);
}

.creation:hover .filter {
    opacity: 65%;
    background-color: var(--white);
}

.creation img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.creation h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: lighter;
    color: var(--white);
    padding: 3rem;
    transition: .5s all ease;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 10rem 8rem 10rem;
    background-color: var(--black);
    max-height: 10rem;
    height: 100vh;
}

.options_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.option_footer {
    display: flex;
    gap: 2.5rem;
    font-family: 'Alata', sans-serif;
    color: var(--white);
}

.option_footer span:hover,
.social_images img:hover {
    cursor: pointer;
    transition: .5s all ease-in-out;
    padding: 0 0 .3rem 0;
    border-bottom: 2px solid var(--white);
}

.social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
}

.social_images {
    display: flex;
    gap: 1.5rem;
}

.social p {
    font-family: 'Alata', sans-serif;
    color: var(--very_dark_gray);
}

.attribution {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    padding: 0 0 1rem 0;
}

.attribution p,
.attribution a {
    font-size: 11px;
}

.attribution a {
    text-decoration: none;
    color: var(--dark_gray);
    cursor: pointer;
    transition: .5s all ease;
}

.attribution a:hover {
    color: var(--white);
    font-size: 48px;
}

@media screen and (max-width: 1330px) {
    .interactive img {
        max-width: none;
        width: 100%;
    }

    .interactive .text {
        position: initial;
        text-align: center;
        justify-content: center;
        align-content: center;
        padding: 2rem 0;
        max-width: none;
    }

    .creations {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width: 990px) {
    nav {
        padding: 3rem;
    }

    .hamburguer {
        display: initial;
    }

    .options {
        display: none;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        padding: 3rem 0rem;
        max-height: none;
        height: 100%;
    }

    .options_footer,
    .social {
        align-items: center;
    }

    .option_footer {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 890px) {
    header h1 {
        left: 7%;
        font-size: 64px;
    }

    .interactive .text h2 {
        font-size: 32px;
    }

    .header_creations h2 {
        text-align: center;
        width: 100%;
    }

    .creation_btn {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        max-width: 14rem;
        max-height: 3rem;
        width: 100%;
        height: 100vh;
    }

    .header_creations button {
        display: none;
    }
}

@media screen and (max-width: 720px) {

    .interactive,
    .our_creations {
        padding: 3rem;
    }

    .creations {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    .creation {
        max-height: 15rem;
    }
}

@media screen and (max-width: 560px) {
    header h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 410px) {
    .interactive .text h2 {
        font-size: 20px;
    }

    .header_creations h2 {
        font-size: 32px;
    }
}